---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres16
  annotations:
    kyverno.io/ignore: "true"
spec:
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.6-0.5.3
  instances: 2
  primaryUpdateStrategy: unsupervised
  storage:
    size: 30Gi
    storageClass: ceph-block
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  postgresql:
    shared_preload_libraries:
      - "pgaudit"
      - "vchord.so"
    synchronous:
      method: any
      number: 1
    parameters:
      max_connections: "400"
      shared_buffers: 256MB
      "pgaudit.log": "all, -misc"
      "pgaudit.log_catalog": "off"
      "pgaudit.log_parameter": "on"
      "pgaudit.log_relation": "on"
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      memory: 2Gi
  monitoring:
    enablePodMonitor: true
    # Ref: https://github.com/cloudnative-pg/cloudnative-pg/issues/2501
    podMonitorMetricRelabelings:
      - { sourceLabels: ["cluster"], targetLabel: cnpg_cluster, action: replace }
      - { regex: cluster, action: labeldrop }
  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      wal:
        compression: bzip2
        maxParallel: 4
      destinationPath: s3://cnpg/
      endpointURL: http://minio.default.svc:9000
      serverName: postgres16-v4
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg
          key: MINIO_ACCESS_KEY
        secretAccessKey:
          name: cloudnative-pg
          key: MINIO_SECRET_KEY

  bootstrap:
    recovery:
      source: source

  externalClusters:
    # Represents the backups stored in minio which can be restored from.
    - name: source
      barmanObjectStore:
        wal:
          compression: bzip2
          maxParallel: 4
        destinationPath: s3://cnpg/
        endpointURL: http://minio.default.svc:9000
        serverName: postgres16-v4
        s3Credentials:
          accessKeyId:
            name: cloudnative-pg
            key: aws-access-key-id
          secretAccessKey:
            name: cloudnative-pg
            key: aws-secret-access-key
