[env]
_.file = '.env'
_.python.venv = { path = "{{config_root}}/.venv", create = true }
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"
MC_INSECURE="true"

[tools]
"python" = "3.14.0"
"pipx:makejinja" = "2.8.1"
"aqua:budimanjojo/talhelper" = "3.0.39"
"aqua:cilium/cilium-cli" = "0.18.8"
"aqua:cli/cli" = "2.82.1"
"aqua:cloudflare/cloudflared" = "2025.10.1"
"aqua:cue-lang/cue" = "0.14.2"
"aqua:FiloSottile/age" = "1.2.1"
"aqua:fluxcd/flux2" = "2.7.3"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.45.5"
"aqua:helm/helm" = "3.19.2"
"aqua:helmfile/helmfile" = "1.1.9"
"aqua:jqlang/jq" = "1.8.1"
"aqua:kubernetes-sigs/kustomize" = "5.7.0"
"aqua:kubernetes/kubectl" = "1.33.2"
"aqua:mikefarah/yq" = "4.48.2"
"aqua:siderolabs/talos" = "1.11.5"
"aqua:yannh/kubeconform" = "0.7.0"
opentofu = "1.10.6"
k9s = "latest"
cmctl = "latest"
envsubst = "latest"
