---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: autobrr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: autobrr-secret
    creationPolicy: Owner
    template:
      data:
        AUTOBRR__SESSION_SECRET: "{{ .SESSION_SECRET }}"
        AUTOBRR__DATABASE_TYPE: postgres
        AUTOBRR__POSTGRES_DATABASE: '{{ index . "dbname" }}'
        AUTOBRR__POSTGRES_HOST: '{{ index . "pgbouncer-host" }}'
        AUTOBRR__POSTGRES_USER: '{{ index . "user" }}'
        AUTOBRR__POSTGRES_PASS: '{{ index . "password" }}'
        AUTOBRR__POSTGRES_PORT: '{{ index . "pgbouncer-port" }}'
  dataFrom:
    - extract:
        key: kv/cluster/media/autobrr
      sourceRef:
        storeRef:
          kind: ClusterSecretStore
          name: vault-backend
    - extract:
        key: postgres-pguser-autobrr
      sourceRef:
        storeRef:
          kind: ClusterSecretStore
          name: crunchy-pgo-secrets
