---
web:
  port: ${WEB_PORT}
storage:
  type: postgres
  path: ${POSTGRES_URI}?sslmode=require
  caching: true
metrics: true
debug: false
ui:
  title: Health Status
  header: Health Status
alerting:
  discord:
    webhook-url: ${DISCORD_WEBHOOK_URL}
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 3
      success-threshold: 3
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m
endpoints:
  - name: status
    group: external
    url: https://status.${SECRET_DOMAIN}
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions: ["[STATUS] == 200"]
    alerts: [{ type: discord }]
  - name: flux-webhook
    group: external
    url: https://flux-webhook.${SECRET_DOMAIN}
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions: ["[STATUS] == 404"]
    alerts: [{ type: discord }]
  - name: Asterix
    group: proxmox
    interval: 10m
    url: icmp://10.0.1.1
    conditions: ["[CONNECTED] == true"]
  - name: Tiny HP
    group: proxmox
    interval: 10m
    url: icmp://10.0.1.2
    conditions: ["[CONNECTED] == true"]
  - name: Thinkcentre
    group: proxmox
    interval: 10m
    url: icmp://10.0.1.3
    conditions: ["[CONNECTED] == true"]
  - name: Reimu
    group: proxmox
    interval: 10m
    url: icmp://10.0.1.4
    conditions: ["[CONNECTED] == true"]
