[http]
url = "'https://' + config_get('server.hostname')"

[server]
hostname = "mail.${SECRET_DOMAIN}"

[server.listener.smtp]
bind = "[::]:25"
protocol = "smtp"

[server.listener.submission]
bind = "[::]:587"
protocol = "smtp"

[server.listener.submissions]
bind = "[::]:465"
protocol = "smtp"
tls.implicit = true

[server.listener.imap]
bind = "[::]:143"
protocol = "imap"

[server.listener.imaptls]
bind = "[::]:993"
protocol = "imap"
tls.implicit = true

[server.listener.pop3]
bind = "[::]:110"
protocol = "pop3"

[server.listener.pop3s]
bind = "[::]:995"
protocol = "pop3"
tls.implicit = true

[server.listener.sieve]
bind = "[::]:4190"
protocol = "managesieve"

[server.listener.https]
protocol = "http"
bind = "[::]:443"
tls.implicit = true

[server.listener.http]
protocol = "http"
bind = "[::]:8080"

[storage]
data = "postgresql"
fts = "postgresql"
blob = "minio"
lookup = "postgresql"
directory = "internal"

[store.rocksdb]
type = "rocksdb"
path = "/opt/stalwart/data"
compression = "lz4"

[store."postgresql"]
type = "postgresql"
host = "%{env:POSTGRES_HOST}%"
port = 5432
database = "%{env:POSTGRES_DBNAME}%"
user = "%{env:POSTGRES_USER}%"
password = "%{env:POSTGRES_PASS}%"
timeout = "15s"

[store."minio"]
type = "s3"
bucket = "stalwart"
region = "eu-central-1"
access-key = "%{env:MINIO_ACCESS_KEY}%"
secret-key = "%{env:MINIO_SECRET_KEY}%"
endpoint = "http://minio.default.svc:9000"
timeout = "30s"
key-prefix = "stalwart/"

[directory.internal]
type = "internal"
store = "postgresql"

[directory."authelia"]
type = "oidc"
timeout = "15s"
endpoint.url = "https://auth.${SECRET_DOMAIN}/api/oidc/userinfo"
endpoint.method = "userinfo"
fields.email = "email"
fields.username = "preferred_username"
fields.full-name = "name"

[directory."ldap"]
type = "ldap"
base-dn = "dc=zed,dc=gay"
url = "ldap://lldap.security.svc.cluster.local:3890"
timeout = "30s"
tls.enable = false
tls.allow-invalid-certs = false

[directory."ldap".bind]
dn = "uid=%{env:LDAP_USER}%,ou=people,dc=zed,dc=gay"
secret = "%{env:LDAP_PASSWORD}%"

[directory."ldap".bind.auth]
method = "lookup"

[directory."ldap".bind.filter]
email = "(&(|(objectClass=person)(memberOf=cn=mail,ou=groups,dc=zed,dc=gay))(mail=?))"
name = "(&(|(objectClass=person)(memberOf=cn=mail,ou=groups,dc=zed,dc=gay))(uid=?))"

[directory."ldap".attributes]
class = "objectClass"
email = "mail"
groups = "memberOf"
name = "uid"
secret = "dummyStalwartSecret"
secret-changed = "creationdate"

[directory."ldap".attributes.description]
0 = "displayName"

[directory."ldap".cache]
entries = 500

[directory."ldap".filter]
email = "(&(objectClass=person)(mail=?))"
name = "(&(objectClass=person)(uid=?))"

[tracer.log]
type = "log"
level = "debug"
path = "/opt/stalwart/logs"
prefix = "stalwart.log"
rotate = "daily"
ansi = false
enable = true

[tracer.console]
type = "console"
level = "debug"
ansi = true
enable = true

[certificate."default"]
default = true
cert = "%{file:/etc/stalwart/live/${SECRET_DOMAIN}/tls.crt}%"
private-key = "%{file:/etc/stalwart/live/${SECRET_DOMAIN}/tls.key}%"

[authentication.fallback-admin]
user = "superuser"
secret = "%{env:ADMIN_SECRET}%"
