---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smtp-relay
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      smtp-relay:
        # FIXME: convert to two replicas and statefulset
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/foxcpp/maddy
              tag: 0.8.2@sha256:eeb5813fc4d101ec5d8f7b08b7255fd76ced2a06884ea94450c8a9a22fd6a08d
            env:
              SMTP_RELAY_SMTP_PORT: &port 25
              SMTP_RELAY_METRICS_PORT: &metricsPort 8080
              SMTP_RELAY_HOSTNAME: ${SECRET_DOMAIN}
            envFrom:
              - secretRef:
                  name: smtp-relay-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 128Mi
        pod:
          securityContext:
            runAsUser: 1022
            runAsGroup: 1022
            fsGroup: 1022
            fsGroupChangePolicy: OnRootMismatch
            runAsNonRoot: true
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    service:
      app:
        controller: smtp-relay
        type: LoadBalancer
        externalTrafficPolicy: Local
        ipFamilyPolicy: PreferDualStack
        annotations:
          external-dns.alpha.kubernetes.io/hostname: smtp.${SECRET_DOMAIN}
          lbipam.cilium.io/ips: "${SMTP_RELAY_ADDRESS}"
        ports:
          metrics:
            port: *metricsPort
            primary: true
          smtp:
            port: *port
    serviceMonitor:
      app:
        serviceName: smtp-relay
        endpoints:
          - port: metrics
    persistence:
      config:
        type: configMap
        name: smtp-relay-configmap
        globalMounts:
          - path: /data/maddy.conf
            subPath: maddy.conf
            readOnly: true
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 512Mi
        storageClass: ceph-block
        globalMounts:
          - path: /var/lib/maddy
      temp:
        type: emptyDir
        medium: Memory
        sizeLimit: 256Mi
        globalMounts:
          - path: /run/maddy
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
