---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komga
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      komga:
        containers:
          app:
            image:
              repository: gotson/komga
              tag: 1.24.1@sha256:a84a0424e2f8235ba9373ed10b9b903e0feecdbb500a1b4aebac01f08e9e57db
            env:
              TZ: "${TIMEZONE}"
              KOMGA_OAUTH2_ACCOUNT_CREATION: "true"
              SERVER_PORT: &port 8080
            resources:
              requests:
                memory: 4282M
                cpu: 15m
              limits:
                memory: 4282M
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      application-config:
        type: secret
        name: komga-secret
        defaultMode: 0400
        globalMounts:
          - subPath: application.yml
            path: /config/application.yml
      comics:
        type: nfs
        server: "${NAS_ADDRESS}"
        path: "${NAS_BASE_URL}/media/documents"
        globalMounts:
          - path: /mnt/storage/media/documents
