# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ersatztv
spec:
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
    controllers:
      ersatztv:
        strategy: Recreate
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 44
              - 109
              - 122
          nodeSelector:
            intel.feature.node.kubernetes.io/gpu: "true"
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: intel.feature.node.kubernetes.io/gpu
                        operator: In
                        values:
                          - "true"
              preferredDuringSchedulingIgnoredDuringExecution:
                - preference:
                    matchExpressions:
                      - key: kubernetes.io/hostname
                        operator: In
                        values:
                          - "talos-04" # this one has the Intel Arc A380
                  weight: 100
        containers:
          app:
            image:
              repository: jasongdove/ersatztv
              tag: fbb7a661fb033ff3fa4e29f1f7403ee42d5b1d4c-vaapi
            env:
              XDG_DATA_HOME: /config # https://github.com/ErsatzTV/ErsatzTV/issues/327
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 11m
                memory: 300M
              limits:
                memory: 1.2G
                gpu.intel.com/i915: 1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: [ALL]
    service:
      app:
        controller: ersatztv
        ports:
          http:
            port: 8409
    ingress:
      app:
        className: internal
        hosts:
          - host: &host tv.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
        annotations:
          gethomepage.dev/name: *app
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: media
          gethomepage.dev/icon: ersatztv.png
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      transcode:
        enabled: true
        existingClaim: ersatz-transcode
        globalMounts:
          - path: /transcode
      cache:
        type: emptyDir
      tmp:
        type: emptyDir
      media:
        enabled: true
        type: nfs
        server: "${NAS_ADDRESS}"
        path: "${NAS_BASE_URL}/media"
        globalMounts:
          - path: /media
