---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: collabora
spec:
  interval: 30m
  chart:
    spec:
      chart: collabora-online
      version: 1.1.33
      sourceRef:
        kind: HelmRepository
        name: collabora
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    replicaCount: 1
    ingress:
       enabled: true
       className: external
       annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          nginx.ingress.kubernetes.io/upstream-hash-by: "$arg_WOPISrc"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
          nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
       hosts:
          - host: &host collabora.${SECRET_DOMAIN}
            paths:
            - path: /
              pathType: ImplementationSpecific
    image:
       tag: "latest"
    autoscaling:
       enabled: false
    collabora:
      server_name: *host
      aliasgroups:
        - host: "https://wopi.${SECRET_DOMAIN}:443"
      extra_params: --o:ssl.enable=false --o:ssl.ssl_verification=false --o:ssl.termination=true --o:welcome.enable=false --o:net.frame_ancestors=files.${SECRET_DOMAIN}
      proofKeysSecretRef: collabora-proof-keys
      # for production enviroment we recommend appending `extra_params` with `--o:num_prespawn_children=4`. It defines number of child processes to keep started in advance and waiting for new clients
