---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adguard-dns
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v9.1.0@sha256:888b77f42d9d3436f01f942b399c7ef4ff331a9fc67bd5e7b3485cc1b8ee1a9b
          pullPolicy: IfNotPresent
        ports:
          - containerPort: 8888
            name: http
          - containerPort: 8080
            name: healthz
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 5
        env:
          - name: ADGUARD_URL
            value: http://10.0.0.1:3000
          - name: SERVER_HOST
            value: 0.0.0.0
          - name: &name ADGUARD_USER
            valueFrom:
              secretKeyRef:
                name: &secret adguard-dns-secret
                key: *name
          - name: &name ADGUARD_PASSWORD
            valueFrom:
              secretKeyRef:
                name: *secret
                key: *name
        securityContext:
          readOnlyRootFilesystem: true
    interval: 1h
    managedRecordTypes: ["A", "CNAME"]
    triggerLoopOnEvent: true
    policy: sync
    txtPrefix: k8s.
    txtOwnerId: default
    extraArgs:
      - --webhook-provider-url=http://localhost:8888
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --gateway-name=envoy-internal
    sources: ["crd", "gateway-httproute"]
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
    resources:
      requests:
        cpu: 16m
        memory: 90M
      limits:
        memory: 90M
    serviceMonitor:
      enabled: true
