---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-redis
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      immich-redis:
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.2.3
            env:
              REDIS_REPLICATION_MODE: master
            command: ["redis-server"]
            resources:
              requests:
                cpu: 15m
                memory: 105M
              limits:
                cpu: 176m
                memory: 184M
    service:
      app:
        controller: immich-redis
        ports:
          http:
            port: 6379
