---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app koito
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      koito:
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
              pullPolicy: Always
            envFrom: &envFrom
              - secretRef:
                  name: koito-secret
        containers:
          app:
            image:
              repository: gabehf/koito
              tag: v0.0.13@sha256:b858f49a33f44b5b7f02eadc8d599274dbeaa33797140cfeff93e78148f3f531
            env:
              TZ: "${TIMEZONE}"
              KOITO_ALLOWED_HOSTS: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            envFrom: *envFrom
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 4110
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /etc/koito
